@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #567df1;
  --primary-color-darker: #1d347b;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  display: block;
}

.titulo {
  text-align: center;
}

.secundario {
  display: flex;
}

.teste {
  margin-left: 250px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: white;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.paragrafo-resultado,
.bad {
  background: rgb(109, 255, 182);
  padding: 10px 20px;
}

.bad {
  background: rgb(255, 150, 150);
}
